.wrapper {
  padding: 1rem;
  background: #fff;
  border-radius: 8px;

  .icon {
    cursor: pointer !important;
  }
}

.icon {
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
}
.telegram {
  height: 1rem;
}
