.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .controls {
    display: flex;
    gap: 5px;
  }
}

.content {
  margin-top: 1rem;
}

.item {
  position: relative;
  margin-top: 0.5rem;
  background: #f3f5f7;

  input {
    background: transparent;
    padding-left: 2rem;
  }
  .iconLeft {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    max-height: 1rem;
  }
  .iconRight {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
