.ant-menu-item.ant-menu-item-selected,
.ant-menu-item.ant-menu-item-selected:active {
  background: #ebebeb !important;
  color: #000;
}

.ant-menu-item:active,
.ant-menu-item:hover {
  background: #ebebeb !important;
}

.ant-layout-sider {
  background: #fff !important;
}

.ant-menu-vertical {
  .ant-menu-item {
    padding-inline: calc(50% - 8px - 8px);
    padding-top: 4px;
  }
}

.ant-form-item {
  margin-bottom: 1rem !important;
  .ant-select {
    height: 2.4rem !important;
  }
  input,
  textarea,
  .ant-select-selector {
    background: #f3f5f7 !important;
    color: #000000ae !important;
    padding: 0.5rem 1rem !important;
  }
}
input,
textarea {
  background: #f3f5f7 !important;
  color: #000000ae !important;
  padding: 0.5rem 1rem !important;
}
.ant-upload {
  height: 10rem !important;
  margin-bottom: 1rem;

  .ant-upload-wrapper.ant-upload-drag {
    background: white !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0 !important;
}
