.wrapper {
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  position: relative;
  width: 100%;

  h1 {
    font-weight: 500;
    line-height: 2;
    margin-bottom: 1rem;
  }
  .icon {
    cursor: pointer !important;
  }
}

.flag {
  width: 2rem;
  object-fit: cover;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  max-width: 90%;
  margin-bottom: 1rem;

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}

.controls {
  display: flex;
  gap: 10px;

  button {
    text-wrap: nowrap;
  }
}
.searchBar {
  position: relative;
  margin-bottom: 1rem;
  input {
    padding-left: 2.5rem !important;
  }
  .searchIcon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #0000008a;
  }
}
